.clear {
	clear: both;
}
.f-left {
	float:left;
}
.text-box {
	width: 352px;
	height: 148px;
	text-align: center;
	background-color: #F8F8F8;
	border-style: #707070;
}
.box {
	margin-top: 50px;
	margin-right: 16px;
	margin-bottom: 15px;
}
.container {
	width: 1160px;
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
}
.h5 {
	text-transform: uppercase;
	color: #5863F8;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	padding-top: 23px;
}
.h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 56px;
	margin-top: 3px;
	margin-bottom: 8px;
}
.h1 {
	font-size: 42px;
	font-weight: 800;
	margin-top: 5px;
}
.paragraph {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	color: #B1B1B1;
}